<div>
  <div>
    <h1>
      List of all post comments
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new post comment
    </h2>

    <form action="/insert_post_comment" method="post">
      <div>
        <label for="post_id_box">
          Post
        </label>

        <input type="text" id="post_id_box" name="query_post_id">
      </div>

      <div>
        <label for="user_id_box">
          User
        </label>

        <input type="text" id="user_id_box" name="query_user_id">
      </div>

      <div>
        <label for="comment_text_box">
          Comment text
        </label>

        <textarea id="comment_text_box" name="query_comment_text" rows="3"></textarea>
      </div>

      <button>
        Create post comment
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          Post
        </th>

        <th>
          User
        </th>

        <th>
          Comment text
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_post_comments.each do |a_post_comment| %>
      <tr>
        <td>
          <%= a_post_comment.id %>
        </td>

        <td>
          <%= a_post_comment.post_id %>
        </td>

        <td>
          <%= a_post_comment.user_id %>
        </td>

        <td>
          <%= a_post_comment.comment_text %>
        </td>

        <td>
          <%= time_ago_in_words(a_post_comment.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_post_comment.updated_at) %> ago
        </td>

        <td>
          <a href="/post_comments/<%= a_post_comment.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
