<div>
  <div>
    <h1>
      Post attachment #<%= @the_post_attachment.id %> details
    </h1>

    <div>
      <div>
        <a href="/post_attachments">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_post_attachment/<%= @the_post_attachment.id %>">
          Delete post attachment
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Post
      </dt>
      <dd>
        <%= @the_post_attachment.post_id %>
      </dd>

      <dt>
        File url
      </dt>
      <dd>
        <%= @the_post_attachment.file_url %>
      </dd>

      <dt>
        File type
      </dt>
      <dd>
        <%= @the_post_attachment.file_type %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_post_attachment.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_post_attachment.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit post attachment
    </h2>

    <form action="/modify_post_attachment/<%= @the_post_attachment.id %>"  method="post" >
      <div>
        <label for="post_id_box">
          Post
        </label>

        <input type="text" id="post_id_box" name="query_post_id" value="<%= @the_post_attachment.post_id %>">
      </div>

      <div>
        <label for="file_url_box">
          File url
        </label>

        <input type="text" id="file_url_box" name="query_file_url" value="<%= @the_post_attachment.file_url %>">
      </div>

      <div>
        <label for="file_type_box">
          File type
        </label>

        <input type="text" id="file_type_box" name="query_file_type" value="<%= @the_post_attachment.file_type %>">
      </div>

      <button>
        Update post attachment
      </button>
    </form>
  </div>
</div>

<hr>
