<div>
  <div>
    <h1>
      List of all meeting participants
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new meeting participant
    </h2>

    <form action="/insert_meeting_participant" method="post">
      <div>
        <label for="meeting_id_box">
          Meeting
        </label>

        <input type="text" id="meeting_id_box" name="query_meeting_id">
      </div>

      <div>
        <label for="participant_id_box">
          Participant
        </label>

        <input type="text" id="participant_id_box" name="query_participant_id">
      </div>

      <div>
        <label for="status_box">
          Status
        </label>

        <input type="text" id="status_box" name="query_status">
      </div>

      <div>
        <label for="role_box">
          Role
        </label>

        <input type="text" id="role_box" name="query_role">
      </div>

      <button>
        Create meeting participant
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          Meeting
        </th>

        <th>
          Participant
        </th>

        <th>
          Status
        </th>

        <th>
          Role
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_meeting_participants.each do |a_meeting_participant| %>
      <tr>
        <td>
          <%= a_meeting_participant.id %>
        </td>

        <td>
          <%= a_meeting_participant.meeting_id %>
        </td>

        <td>
          <%= a_meeting_participant.participant_id %>
        </td>

        <td>
          <%= a_meeting_participant.status %>
        </td>

        <td>
          <%= a_meeting_participant.role %>
        </td>

        <td>
          <%= time_ago_in_words(a_meeting_participant.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_meeting_participant.updated_at) %> ago
        </td>

        <td>
          <a href="/meeting_participants/<%= a_meeting_participant.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
